<style>
    em {
        font-style: normal;
    }
    
    input[type="text"] {
        width: 200px;
        border: 1px solid #ccc;
        height: 30px;
        outline: none;
        padding: 0 10px;
    }
    
    input[type="radio"] {
        margin: 3px 3px 0px 5px;
        display: none;
    }
    
    select {
        width: 150px;
        border: 1px solid #ccc;
        margin-right: 20px;
        height: 30px;
        outline: none;
    }
    
    label {
        padding-left: 20px;
        cursor: pointer;
        background: url(img/radio_false.png) no-repeat left top;
    }
    
    input:checked + label {
        background: url(img/radio_true.png) no-repeat;
    }
    
    .wx_i_nbsp {
        width: 28px;
        display: inline-block;
    }
    .zy_switchCon p{margin:20px 0;}
</style>
<div class="zy_header" ng-show="reg">
	<div class="zy_navBg">
		<div class="zy_nav clearfix">
			<img  class="fl zy_jetsen" src="img/logo_white.png"/>
			<a class="zy_back fr" ng-href="{{comeBackBtn}}">返回云空间首页<i></i></a>
		</div>
	</div>
</div>

<!--<header ng-show="reg"></header>-->
<div class="zy_main">
    <div class="wx_fanhui">
        <a ng-click="goBack()" ng-hide="reg"><img src="./img/jiantou.png" alt="" />返回</a>
        <a ui-sref="register_page" ng-show="reg"><img src="./img/jiantou.png" alt="" />返回</a>
    </div>
    <div class="zy_cont">
        <p class="zy_centerTit"> <span ng-click="tab(0)" ng-class="{'zy_active':switch == 0}">个人信息</span> <i ng-hide="reg"></i> <span ng-click="tab(1)" ng-class="{'zy_active':switch == 1}" ng-hide="reg">修改密码</span> <i ng-hide="reg"></i> <span ng-click="tab(2)" ng-class="{'zy_active':switch == 2}" ng-hide="reg">修改头像</span> </p>
        <div class="zy_switchCon">
            <div ng-show="switch == 0">
                <!--姓名/身份证号/性别/民族/手机/邮箱-->
                <p><b class="zy_mustStar">*</b><em>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</em>
                    <input type="text" ng-model="userInfo.loginName" disabled="disabled"/> 
                	<i style="color:#888;" class="nameerro">(用于登录，请牢记)</i>
                </p>
                <p><b class="zy_mustStar">*</b><em>真实姓名：</em>
                    <input type="text" ng-model="userInfo.realname"/> </p>
                <p><b class="zy_mustStar">*</b><em>性<i class="wx_i_nbsp"></i>别：</em>
                    <input type="radio" name="ifTeach" id="zy_teacheingY" value="男" ng-model="userInfo.sex" class="wx_radio" />
                    <label for="zy_teacheingY">男</label>
                    <input type="radio" name="ifTeach" id="zy_teacheingN" value="女" ng-model="userInfo.sex" class="wx_radio" />
                    <label for="zy_teacheingN">女</label>
                </p>
                <p><b class="zy_mustStar">*</b><em>民<i class="wx_i_nbsp"></i>族：</em>
                    <select name="" ng-model="userInfo.userNation" ng-options="nation.id as nation.name for nation in nationData" style="cursor:pointer;color: #333; width: 220px;">
                        <option value="">选择民族</option>
                    </select>
                </p>
                <p><b class="zy_mustStar">*</b><em>身份证号：</em>
                    <input type="text" name="" id="" value="" ng-model="userInfo.idCard" ng-change="checkID(userInfo.idCard)" > </p>
                <p><b class="zy_mustStar">*</b><em>手&nbsp;&nbsp;机&nbsp;&nbsp;号：</em>
                    <input type="text" ng-model="userInfo.userMobile"> </p>
                <p><b class="zy_mustStar">*</b><em>邮<i class="wx_i_nbsp"></i>箱：</em>
                    <input type="text" ng-model="userInfo.userEmail"> </p>
                <p><b class="zy_mustStar">*</b><em>单位名称：</em>
                    <select style="cursor:pointer;color: #333;"name="" ng-model="userInfo.areaId" ng-options="area.id as area.name for area in areaa" ng-change="selSchoolArea((areaa|filter: {id: userInfo.areaId})[0])">
                        <option value="">选择区域</option>
                    </select>
                    <select style="cursor:pointer;color: #333;" ng-model="userInfo.officeId" ng-options="school.id as school.name for school in schools">
                        <option value="">选择机构</option>
                    </select>
                </p>
                <div class="zy_btn_grop">
                    <input class="zy_submit zy_personalMsgSub" ng-click="submitStudentMsg()" type="submit" name="" id="" value="提交" ng-hide="reg" />
                    <input class="zy_submit zy_personalMsgSub" ng-click="submitzhuceStudentMsg()" type="submit" name="" id="" value="注册" ng-show="reg" /> </div>
            </div>
            <!--	修改密码		-->
            <div ng-show="switch == 1">
                <form name="myForm" novalidate>
                    <ul class="zy_basicMsg zy_pass">
                        <li> <em>原&nbsp;&nbsp;密&nbsp;&nbsp;码：</em>
                            <input ng-model="user.orgPassword" type="text" required placeholder="登录教育云平台时需要输入的密码" ng-pattern="/^[a-zA-Z0-9]{6}$/" disabled style="width:220px;border:none;background:#fff;"> </li>
                        <li> <em>新&nbsp;&nbsp;密&nbsp;&nbsp;码：</em>
                            <input ng-model="user.newpassword" type="password" placeholder="请输入6位字母或数字" required ng-pattern="/^[a-zA-Z0-9]{6}$/"><span ng-show="same == 3">请输入6位字母或数字！</span> </li>
                        <li> <em>确认密码：</em>
                            <input ng-model="user.renewpassword" type="password" name="" id="" value="" placeholder="请输入6位字母或数字" required ng-pattern="/^[a-zA-Z0-9]{6}$/" /><span ng-show="same == 1">请输入相同的密码！</span> </li>
                    </ul>
                    <div class="zy_btn_grop">
                        <input class="wx_zinv_tj" type="submit" name="" id="" value="提交" ng-click="updateStudentMsg(user)" /> </div>
                </form>
            </div>
            <!--    修改头像     -->
            <div ng-show="switch == 2">
                <form name="myForm" novalidate>
                    <div class="touxup">
                        <input type="file" id="fileInput" accept="image/jpeg,image/png">
                        <label class="uplabel" for="fileInput">选择图片</label> <span>（仅支持JPG,PNG格式的图片）</span> </div>
                    <div class="previmg">
                        <div class="cropArea">
                            <img-crop image="myImage" result-image="myCroppedImage" result-image-size="100" area-type="square" area-min-size="55"></img-crop>
                        </div>
                        <div class="youceprev"> <b style="margin-top:20px;display:inline-block">头像预览</b>
                            <div class="rightimgda"><img style="height:100px" ng-src="{{myCroppedImage}}" /></div>
                            <p>大头像100*100</p>
                            <div class="rightimgxiao"><img style="height:55px" ng-src="{{myCroppedImage}}" /></div>
                            <p>小头像55*55</p>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <input class="wx_zinv_tj" type="submit" name="" id="" value="保存头像" ng-click="upload(user)" /> </form>
            </div>
        </div>
    </div>
</div>
<!--警告弹框-->
<div class="gy_del_down zy_warningBox tijiaocgtc" style="display:none">
    <div class="gy_hide"></div>
    <div class="gy_con">
        <p> <img src="img/chenggong.png" alt="" style="height:46px" class="chenggongimg" /> <i></i> </p>
    </div>
</div>
<div class="gy_del_down zy_warningBox tijiaosbtc" style="display:none">
    <div class="gy_hide"></div>
    <div class="gy_con">
        <p> <img src="img/wonde_big.png" alt="" style="height:30px" /> <i></i> </p>
    </div>
</div>