
<!--   找回密码框 教师和家长-->
 <div class="wx_passwordzh" ng-show="state.loginStatus==0 || state.loginStatus==2">
     <div class="wx_zhmmk">
            <p style="margin-top:60px;">邮箱地址：<input type="text" style="width:230px;" ng-focus="tips.mail_wrong = false" placeholder="请输入邮箱" ng-model="tips.find_email" required ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/"></p>
            <b style="margin-left: 160px;" class="zy_tips" ng-show="tips.mail_wrong">邮箱格式不正确</b>
            <p style="color:#555555">
            	<img src="img/error_prompt.png" alt="" style="margin-right:10px;">
            	<span>请输入您在云空间上所留的邮箱地址</span>
            </p>
            <p style="margin-top:60px;"><button ng-click="emailSub()">提交</button></p>
     </div>
 </div>
 
 <!--   找回密码框 学生-->
 <div class="wx_passwordzh" ng-show="state.loginStatus==1">
     <div class="wx_zhmmk">
            <p style="color:#555555;width:380px;margin-top:60px;"><img src="img/error_prompt.png" alt="" style="margin-right:10px;">请让您的班主任重置您的密码，重置后密码为123456。
用国网学籍号和重置后密码123456登录激活即可。</p>
            <p style="margin-top:60px;"><button ng-click="emailSub()">提交</button></p>
     </div>
 </div>

<!--提示弹框-->
<!--gy_del_down为公用clss名不要动，后面起自己控制的class-->
<div class="gy_del_down zy_warningBox" ng-show="tips.emailTip">
    <div class="gy_hide"></div>
    <div class="gy_con"><!--弹框具体宽高自定义-->
		<p>
			<img src="img/chenggong.png" alt="" style="height: 46px;" ng-show="chenggong"/>
			<img src="img/wonde_big.png" alt="" ng-show="!chenggong" />
			<i ng-bind="tips.prompt"></i>
		</p>
		
    </div>
</div>