
<!--找回密码修改密码-->
 <div class="wx_passwordzh zy_reset">
     <div class="wx_zhmmk">
            <p style="margin-top:60px;">新&nbsp;&nbsp;密&nbsp;&nbsp;码：
            	<input type="text" required ng-pattern="/^[a-zA-Z0-9]+$/" placeholder="请输入6位字母或数字" ng-model="newPassword">{{show}}
            	<span ng-show="same == 2">请输入6位字母或数字！</span>
            </p>
            <p>确认密码：
            	<input type="text" style="margin-left: 3px;" required ng-pattern="/^[a-zA-Z0-9]+$/" placeholder="请输入6位字母或数字" ng-model="confirmPassword">
            	<span ng-show="same == 3">请输入6位字母或数字！</span>
            	<span ng-show="same == 1">请输入相同的密码！</span>
            </p>
            <!--<p style="color:#555555"><img src="img/error_prompt.png" alt="" style="margin-right:10px;">请输入您在云空间上所留的邮箱地址</p>-->
            <p style=""><button ng-click="confPassword()">提交</button></p>
     </div>
 </div>
